/*! 
 * jQuery Smart Cart v3.x
 * The smart interactive jQuery Shopping Cart plugin with PayPal payment support
 * http://www.techlaboratory.net/smartcart
 *
 * Created by Dipu Raj
 * http://dipuraj.me
 *
 * Licensed under the terms of the MIT License
 * https://github.com/techlab/SmartCart/blob/master/LICENSE
 */

.sc-cart-item-list {
    min-height: 50px;
}

.sc-cart-remove {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.sc-cart-remove:hover {
    color: red;
}

.sc-cart-empty-msg {
    color: #999;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.sc-cart-item-qty {
    width: 55px;
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 0 3px 6px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
}

.sc-cart-item-summary {
/*    text-align: right;*/
    margin-top: 5px;
    padding-top: 5px;
}

.sc-cart-summary {
    text-align: right;
    font-size: 1.5em;
}

.sc-cart-subtotal {
    color: #8e8a8a;
}

.sc-cart-toolbar {
    margin-top: 10px;
    text-align: right;
}

.sc-cart-toolbar button {
    margin-left: 5px;
}

.sc-cart-toolbar button.disabled img {
    opacity: .5;
}

.sc-cart-item img {
    margin-right: 10px;
    width: 100px;
}

.sc-highlight {
    -webkit-animation: highlight 1s;
    animation: highlight 1s;
}

@keyframes highlight {
    from {
        background: #faebcc;
    }

    to {
        background: none;
    }
}

@-webkit-keyframes highlight {
    from {
        background: #faebcc;
    }

    to {
        background: none;
    }
}

.sc-product-item {
    position: relative;
}

.sc-product-item:after, .sc-product-item:before {
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.sc-added-item {
    border-color: #5cb85c;
}

.sc-added-item:after {
    content: "\2713 ";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 4px;
    z-index: 99;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.sc-added-item:before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 98;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}

.sc-button-checkout-default {
}

.sc-button-checkout-paypal {
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 170px;
    height: 32px;
}